.container {
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
  }

  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }


  #certificate-gallery {
    width: 100%;
  }

  .carousel-item {
    height: auto;
  }

  .card-body {
    display: flex;
    flex-wrap: wrap;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }

  #psb-gallery {
    width: 100%;
  }

  #magnet-gallery {
    width: 100%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }
